[submodule "Apple/HelloTriangle"]
	path = Apple/HelloTriangle
	url = https://github.com/wang-bin/HelloTriangle.git
[submodule "Apple/SwiftMdkExample/Shared/swiftMDK"]
	path = Apple/SwiftMdkExample/Shared/swiftMDK
	url = https://github.com/wang-bin/swiftMDK.git
[submodule "Apple/SwiftUiPlayer/Shared/mdkSwift"]
	path = Apple/SwiftUiPlayer/Shared/mdkSwift
	url = https://github.com/wang-bin/mdkSwift
