[submodule "Apple/HelloTriangle"]
	path = Apple/HelloTriangle
	url = https://github.com/wang-bin/HelloTriangle.git
[submodule "Apple/SwiftMdkExample/Shared/swiftMDK"]
	path = Apple/SwiftMdkExample/Shared/swiftMDK
	url = https://github.com/wang-bin/swiftMDK.git
[submodule "Apple/SwiftUiPlayer/Shared/mdkSwift"]
	path = Apple/SwiftUiPlayer/Shared/mdkSwift
	url = https://github.com/wang-bin/mdkSwift
[submodule "android/mdk-android"]
	path = android/mdk-android
	url = https://github.com/wang-bin/mdk-android
[submodule "Avalonia/MDK.SDK.NET"]
	path = Avalonia/MDK.SDK.NET
	url = https://github.com/axojhf/MDK.SDK.NET
[submodule "WinUI3"]
	path = WinUI3
	url = https://github.com/Damix48/WinUI3MDK.git
